# Enviroment file for MQtt-Worker by ZEC-Timing
PROJECT_NAME="ZEC MQtt-Worker"

MQTT_WORKER_PORT=8011

MQTT_IP=zec-mqtt-broker
MQTT_PORT=1883
MQTT_TOPIC="esp32/timestamp"

MQTT_USER="zecuser"
MQTT_PASSWORD="supersecret"

REDIS_HOST=zec-redis-db
REDIS_PORT=6379
